{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
 <div class="container">
    <h1>Categories</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('admin_category_show', {'id': category.id}) }}"class="btn btn-primary btn-sm">Regarder</a>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}"class="btn btn-secondary btn-sm">Modifier</a>
                    <a href="{{ path('admin_category_delete', {'id': category.id}) }}"class="btn btn-danger btn-sm">Supprimer</a>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_category_new') }}"class="btn btn-success">Créer une nouvelle catégorie</a>
    </div>
{% endblock %}
