{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Catalogue</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    {% if product.image %}
                        <img src="{{ asset('uploads/' ~ product.image) }}" class="w-100 border" alt="{{ product.name }}" />
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_catalog_show', {'id': product.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
