{% extends 'base.html.twig' %}

{% block title %}Brows with Manel -Studio de beauté{% endblock %}

{% block body %}
     <div class="container custom-container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ asset('assets/images/Acceuil/bwk.jpg') }}" alt="Grande Image" class="img-fluid custom-image">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/Acceuil/bwk.jpg') }}" alt="Image 1" class="img-fluid custom-thumbnail">
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/Acceuil/bwk.jpg') }}" alt="Image 2" class="img-fluid custom-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/Acceuil/bwk.jpg') }}" alt="Image 3" class="img-fluid custom-thumbnail">
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/Acceuil/bwk.jpg') }}" alt="Image 4" class="img-fluid custom-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}