{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prise de rendez-vous</h1>

    {{ form_start(form) }}
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        {{ form_row(form.clientName) }}
        {# ... autres champs du formulaire #}

        <button type="submit">Réserver</button>
    {{ form_end(form) }}
{% endblock %}