{% extends 'base.html.twig' %}

{% block title %}Elèments de commande {% endblock %}

{% block body %}
 <div class="container pt-3">
    <table class="table pt-3">
        <thead class="thead" style="background-color: #ECBA82;">
            <tr>
                <th>Id</th>
                <th>Nom du produit</th>
                <th>Prix du produit</th>
                <th>Quantités commandés</th>
                <th>Créer le:</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_item in order_items %}
            <tr>
                <td>{{ order_item.id }}</td>
                <td>{{ order_item.product }}</td> {# Assurez-vous que la propriété product de l'entité OrderItem correspond au nom du produit #}
                <td>{{ order_item.product.price|number_format(2, ',', '.') }}€</td>
                <td>{{ order_item.quantity }}</td>
                 <td>{{ order_item.CreatedAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('admin_order_item_show', {'id': order_item.id}) }}"class="btn">Regarder</a>
                   
                    <a href="{{ path('admin_order_item_delete', {'id': order_item.id}) }}"class="btn">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun element de commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_order_item_new') }}"class="btn">Créer un nouvel élément de commande</a>
</div>
{% endblock %}
