{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container pt-3">
    <table class="table ">
        <thead class="thead" style="background-color: #ECBA82;">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>Créer le :</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price|number_format(2, ',', '.') }} €</td>
                <td>{{ product.category}}</td>
                <td>{{ product.CreatedAt|date('d/m/Y')}}</td>
                <td>
                    {% if product.image %}
                        <img src="{{ asset('uploads/' ~ product.image) }}" class="img-fluid" alt="{{ product.name }}" style="max-width: 200px; height: auto;" />
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn">Modifier</a>
                    <a href="{{ path('admin_product_delete', {'id': product.id}) }}" class="btn">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_product_new') }}" class="btn">Créer un nouveau produit</a>
</div>
{% endblock %}
