{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_product_index') }}">Rvenir à la liste</a>

    <a href="{{ path('admin_product_edit', {'id': product.id}) }}">Modifier </a>

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
