{% extends 'base.html.twig' %}

{% block title %}Historique de Commandes{% endblock %}

{% block body %}
 <div class="container pt-3">
    <table class="table pt-3">
        <thead class="thead" style="background-color: #ECBA82;">
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Payé le:</th>
                <th>Créer le:</th>
                <th>Montant de la commande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.paidAt ? order.paidAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.CreatedAt|date('d/m/Y') }}</td>
                <td>{{ (order.amount)|number_format(2, ',', '.') }}€</td>
                <td>
                    <a href="{{ path('admin_order_show', {'id': order.id}) }}"class="btn">Regarder</a>
                    <a href="{{ path('admin_order_edit', {'id': order.id}) }}"class="btn">Modifier</a>
                    <a href="{{ path('admin_order_delete', {'id': order.id}) }}"class="btn">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_order_new') }}"class="btn">Créer une nouvelle commande</a>
    </div>
{% endblock %}
