{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Payé le:</th>
                <th>PayementId</th>
                <th>Montant de la commande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.paidAt ? order.paidAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.paymentId }}</td>
                <td>{{ order.amount }}</td>
                <td>
                    <a href="{{ path('admin_order_show', {'id': order.id}) }}"class="btn btn-primary btn-sm">Regarder</a>
                    <a href="{{ path('admin_order_edit', {'id': order.id}) }}"class="btn btn-secondary btn-sm">Modifier</a>
                    <a href="{{ path('admin_order_delete', {'id': order.id}) }}"class="btn btn-danger btn-sm">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_order_new') }}"class="btn btn-success">Créer une nouvelle commande</a>
{% endblock %}
