<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-2">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_user_index') }}">Liste des utilisateurs</a></p>
        </div>
    </article>

    <article class="card mb-2">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_category_index') }}">Liste des catégories</a></p>
            <p><a href="{{ path('admin_category_new') }}">Ajouter une catégorie</a></p>
        </div>
    </article>

    <article class="card mb-2">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_product_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_product_new') }}">Ajouter un produit</a></p>
        </div>
    </article>

    <article class="card mb-2">
        <div class="card-header">
            Commandes
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_order_index') }}">Liste des commandes</a></p>
        </div>
    </article>

    <article class="card mb-2">
        <div class="card-header">
            Elèments de Commande
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_order_item_index') }}">Liste des élèments de commandes</a></p>
            <p><a href="{{ path('admin_order_item_new') }}">Ajouter un élèment de commandes</a></p>
        </div>
    </article>
</aside>