<footer class="container-fluid">
	<div class="row">
		<section class="col">
			<h2>BWK STUDIO</h5>
			<ul class="list-unstyled">
				<li><a href="{{ path('app_home') }}">ACCUEIL</a></li>
				<li><a href="{{ path('lips_page') }}">BROWS</a></li>
				<li><a href="{{ path('lips_page') }}">LIPS</a></li>
				<li><a href="{{ path('freckless_page') }}">FRECKLESS</a></li>
				<li><a href="{{ path('nails_page') }}">NAILS</a></li>
			</ul>
		</section>
		<section class="col">
			<h2>VOUS & BWM</h5>
			<ul class="list-unstyled">
				<li><a href="#">MENTIONS LÉGALES</a></li>
				<li><a href="#">C.G.V.</a></li>
				<li><a href="#">POLI. DE CONFIDENTIALITÉ</a></li>
				<li><a href="{{ path('app_profile') }}">MON COMPTE</a></li>
				<li><a href="{{ path('app_contact') }}">NOUS CONTACTER</a></li>
			</ul>
		</section>
		<section class="col">
			<div class="text-center">
				<img src="{{ asset('assets/images/LOGO/BWM.png') }}" alt="Logo brows with manel" class="img-fluid w-50">
			</div>
		</section>
	</div>
</footer>
